* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

html {
	scroll-behavior: smooth;
}


.jumbotron hr {
	/*background-color: #fff;*/
}

#jumbo-land {
	padding-top: 5%;
	height: 100vh;
	/*background-color: #333;*/
	border-radius: 0;
	background-image: url(../images/landing-bg.jpg);
	background-size: cover;
}

.btn {
	display: block;
	margin: 0 auto;
	color: black;
	border: 2px solid black;
}

.btn:hover {
	background-color: black;
	color: white;
	border: 2px solid black;
}

.btn a {
	text-decoration: none;
	color: inherit;
}

/*-----------------------------HomePage------------------------------*/

/*[class*="col-"],
.home-bottom,
.footer {
	border: 1px solid black;
}*/

#load {
	width: 100%;
	height: 100vh;
	background-color: rgba(22, 21, 23, .8);
	position: fixed;
	z-index: 5;
}

.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 150px;
	height: 150px;
	background-color: #000;
	border: 5px solid #fff;
	box-shadow: 0 0 0 5px #0E0E1E;
	border-radius: 50%;
	overflow: hidden;
}

.wave {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #0E0E1E;
	border-radius: 50%;
	box-shadow: inset 0 0 25px rgba(0,0,0,.5);
}

.wave:before,
.wave:after {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-75%);
	background-color: #000;
	/*border: 1px solid black; */
}

.wave:before {
	border-radius: 45%;
	background-color: rgba(255,255,255,1);
	animation: animate 3s linear infinite;
}

.wave:after {
	border-radius: 35%;
	background-color: rgba(255,255,255,.5);
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: translate(-50%,-75%) rotate(0deg);
	}
	100% {
		transform: translate(-50%,-75%) rotate(360deg);
	}
}

#loading-logo {
	position: absolute;
	width: 120px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 2px;
	z-index: 1;
}

.badge {
	font-size: 10px;
}

#navbar .navbar-brand {
	font-family: 'Patua One', cursive;
	font-size: 	40px;
	color: #0E0E1E;
	background-color: white;
	border-radius: 10px;
}

.navbar {
	box-shadow: 0 5px 20px black;
	z-index: 2;
}

.dark-bg {
	background-color: #0E0E1E;
}

.border-radius {
	border-radius: 5px;
}

.logo {
	width: 80px;
	height: 50px;
	position: relative;
	top: -5px;
}

.navbar-nav .active {
	background-color: #E76F51;
	color: black;
}

.nav-item {
	min-width: 90px;
	color: black;
}

.main {
	height: 60vh;
}

.blog-link {
	color: white;
}

.home-bottom {
	height: 40vh;
	/*clear: both;*/
}

.footer {
	height: 4vh;
	width: 100%;
	color: white;
}

.surfingwaves {
	text-align: right;
	width: 100%;
}

.surfingwaves2 {
	color: #0A213A;
	font-size: 15px;
}

.carousel-indicators {
	z-index: 1;
}

#carousel-controls1 {
	/*overflow: hidden;*/
}

#carousel-controls2 {
	display: none;
	overflow: hidden;
}

.carousel-inner {
	height: 60vh;
}

.carousel-inner-vid {
	height: auto;
}

.carousel-inner > .carousel-item {
  width: 100%;
  margin: auto;
  min-height:initial;
}

.vid-row img:hover {
	transform: scale(1.4);
	position: relative;
	z-index: 10;
	cursor: pointer;
}

.vid-row {
	height: auto;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: auto;
	border-radius: 0 0 20px 20px; 
}

.carousel-control-prev,
.carousel-control-next {
  top: 0;
  bottom: 70px;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
	height: 0;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #0E0E1E;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #0E0E1E;
}

.video-btn {
	margin-top: 10px;
}

.brands {
	text-align: center;
}

.brands img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 70%;
}

/*.embed-responsive:active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

iframe {
  /* optional */
  width: 100%;
  height: 100%; 
}

.subfooter {
	position: relative;
}

.subfooter [class*="col-"] {
	min-height: 20vh;
	width: 100%;
	background-color: #0A213A;
	color: white;
}

.social-links {
	font-size: 40px;
}

.social-links i {
	padding: 10px;
	color: white;
}

.fa-facebook:hover {
	color: #3B5998;
}

.fa-twitter:hover {
	color: #1DA1F2;
}

.fa-instagram:hover {
	color: #262626;
}

.fa-youtube:hover {
	color: #ff0000;
}

/*modal*/

.modal-dialog {
  	max-width: 800px;
  	margin: 30px auto;
 }

.modal-body {
 	position:relative;
  	padding:0px;
}
.close {
  	position:absolute;
  	right:-30px;
  	top:0;
  	z-index:999;
  	font-size:2rem;
  	font-weight: normal;
  	color:#fff;
  	opacity:1;
}

/*-------------------------------Blogs---------------------------*/

.blog-img {
	width: 100%;
	height: 60vh;
}

.content-img {
	width: 80%;
	height: 40vh;
	margin: 0 auto;
}

.blog-row {
	height: 90vh;
	overflow: hidden;
}

.blog-col {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid black;
}

@keyframes pointup {
    0%   {left:0px; top:0px;}
    40%  {left:0px; top:-50px;}
    100% {left:0px; top:0px;}
}

#buttoncontainer {
	position: fixed;
	bottom: 20%;
	right: 5%;
	display: none;
}

#back-to-top {
	width: 40px;
	display: block;
	margin: 0 auto;
	position:relative;
	animation-name: pointup;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.show-weather {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration:3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

/*------------------------------Contact--------------------------*/

#message {
	height: 150px;
	resize: none;
}

.google-map {
	height: 50vh;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

/*----------------------------About----------------------------*/

#about {
	height: 200vh;
	/*overflow: hidden;*/
}

#about .mission {
	height: 94vh;
	background-image: url("../images/about-bg.jpg");
	background-size: cover;
	position: relative;
	background-position: center;
	/*background-attachment: fixed;*/
}

#about .vision {
	height: 95vh;
	background-image: url("../images/about-bg2.jpg");
	background-size: cover;
	position: relative;
	background-position: center;
	margin-bottom: 	-200px;
	/*background-attachment: fixed;*/
}

#about .container-fluid {
	position: relative;
	top: -100px;
}

#about .subfooter {
	position: relative;
	bottom: -110px;
	/*transform: translateY(50px);*/
	margin: 0;
	left: 0;
}

#about #navbar {
	margin-top: 20px;
	height: 75px;
	background-color: transparent;
	box-shadow: none;
}

#mission-content {
	color: white;
	position: absolute;
	bottom: 5%;
}

.about-us {
	background-color: #0E0E1E;
	height: 110vh;
}

.about-us h1 {
	color: white;
}

.about-us img {
	filter: grayscale(100%);
}

.about-us img:hover {
	filter: grayscale(0);
}

.about-us .my-images {
	position: relative;
	top: -20vh;
}

/*-----------------------------Gallery----------------------------*/

#navbar {
	z-index: 20;
}

.gallery img {
	/*position: absolute;*/
	margin: 5px;
	height: 80%;
	z-index: 10;
}

.gallery h1 {
	position: relative;
	z-index: 10;
}

.card {
	height: 40%;
	z-index: 10;
	border: 1px solid black;
	box-shadow: 5px 5px 5px #888888;
	position: absolute;
}

.card:hover{
	/*z-index: 15;*/
	cursor: pointer;
	transform: scale(1.2);
}

.card-body {
	padding-top: 5px;
}

#pic1 {
	top: 25%;
	left:5%;
	transform: rotate(-20deg);
	opacity: 0;
	animation: dropone 1s linear 1;
	animation-fill-mode: forwards;
	-webkit-animation: dropone 1s linear 1;
	-webkit-animation-fill-mode: forwards;
}

#pic2 {
	top: 35%;
	left:23%;
	transform: rotate(5deg);
	opacity: 0;
	animation: droptwo 1s linear 1s 1;
	animation-fill-mode: forwards;
	-webkit-animation: droptwo 1s linear 1s 1;
	-webkit-animation-fill-mode: forwards;
}

#pic3 {
	top: 23%;
	left: 35%;
	transform: rotate(-10deg);
	opacity: 0;
	animation: dropthree 1s linear 2s 1;
	animation-fill-mode: forwards;
	-webkit-animation: dropthree 1s linear 2s 1;
	-webkit-animation-fill-mode: forwards;
}

#pic4 {
	top: 15%;
	left:53%;
	transform: rotate(12deg);
	opacity: 0;
	animation: dropfour 1s linear 3s 1;
	animation-fill-mode: forwards;
	-webkit-animation: dropfour 1s linear 3s 1;
	-webkit-animation-fill-mode: forwards;
}

#pic5 {
	top: 33%;
	left: 70%;
	transform: rotate(2deg);
	opacity: 0;
	animation: dropfive 1s linear 4s 1;
	animation-fill-mode: forwards;
	-webkit-animation: dropfive 1s linear 4s 1;
	-webkit-animation-fill-mode: forwards;
}

@keyframes dropone {
	0% {
		transform: translate(-50%,-100%) rotate(0deg);
		opacity: 0;
	}
	100% {
		transform: translate(0%,0%) rotate(-20deg);
		opacity: 1;
	}
}

@keyframes droptwo {
	0% {
		transform: translate(-20%,-100%) rotate(0deg);
		opacity: 0;
	}
	100% {
		transform: translate(0%,0%) rotate(5deg);
		opacity: 1;
	}
}

@keyframes dropthree {
	0% {
		transform: translate(0%,-100%) rotate(0deg);
		opacity: 0;
	}
	100% {
		transform: translate(0%,0%) rotate(-10deg);
		opacity: 1;
	}
}

@keyframes dropfour {
	0% {
		transform: translate(20%,-100%) rotate(0deg);
		opacity: 0;
	}
	100% {
		transform: translate(0%,0%) rotate(12deg);
		opacity: 1;
	}
}

@keyframes dropfive {
	0% {
		transform: translate(50%,-100%) rotate(0deg);
		opacity: 0;
	}
	100% {
		transform: translate(0%,0%) rotate(2deg);
		opacity: 1;
	}
}

/*-----------Safari------------------*/

@-webkit-keyframes dropone {
	0% {
		-webkit-transform: translate(-50%,-100%) rotate(0deg);
		-webkit-opacity: 0;
	}
	100% {
		-webkit-transform: translate(0%,0%) rotate(-20deg);
		-webkit-opacity: 1;
	}
}

@-webkit-keyframes droptwo {
	0% {
		-webkit-transform: translate(-20%,-100%) rotate(0deg);
		-webkit-opacity: 0;
	}
	100% {
		-webkit-transform: translate(0%,0%) rotate(5deg);
		-webkit-opacity: 1;
	}
}

@-webkit-keyframes dropthree {
	0% {
		-webkit-transform: translate(0%,-100%) rotate(0deg);
		-webkit-opacity: 0;
	}
	100% {
		-webkit-transform: translate(0%,0%) rotate(-10deg);
		-webkit-opacity: 1;
	}
}

@-webkit-keyframes dropfour {
	0% {
		-webkit-transform: translate(20%,-100%) rotate(0deg);
		-webkit-opacity: 0;
	}
	100% {
		-webkit-transform: translate(0%,0%) rotate(12deg);
		-webkit-opacity: 1;
	}
}

@-webkit-keyframes dropfive {
	0% {
		-webkit-transform: translate(50%,-100%) rotate(0deg);
		-webkit-opacity: 0;
	}
	100% {
		-webkit-transform: translate(0%,0%) rotate(2deg);
		-webkit-opacity: 1;
	}
}

#modal {
	height: 90vh;
	text-align: center;
}

#modal p {
	display: inline;
	font-size: 20px;
}

#modal img{
    max-height: calc(100vh - 225px);
    margin: 5px;
}

.modal-dialog {
	display: inline-block;
    width: auto;
}


line {
	stroke: black;
	stroke-width: 2px;
}

.gallery {
	background-color: #0E0E1E;
	margin: 0;
	position: relative;
	width: 100%;
	height: 200vh;
	background-color: #0E0E1E;
	overflow: hidden;
}

.image-holder {
	position: relative;
	background-color: white;
	height: 100vh;
}

.wave-gal {
	position: absolute;
	width: 50%;
	height: 50%;
}

.wave-gal:before,
.wave-gal:after {
	content: '';
	position: absolute;
	width: 50vh;
	height: 50vh;
	bottom: 100vh;
	transform: translate(-50%,-50%);
	background-color: #000;
	z-index: -1;
}

.wave-gal:before {
	border-radius: 47%;
	background-color: rgba(255,255,255,1);
}

.wave-gal:after {
	border-radius: 42%;
	background-color: rgba(255,255,255,.5);
}

.wave1:before,
.wave1:after {
	left: 15%;
	animation: animate 5s linear infinite;
}

.wave2:before,
.wave2:after {
	left: 30%;
	animation: animate 3s linear infinite;
}

.wave3:before,
.wave3:after {
	left: 55%;
	animation: animate 4s linear infinite;
}

.wave4:before,
.wave4:after {
	left: 80%;
	animation: animate 3s linear infinite;
}

.wave5:before,
.wave5:after {
	left: 105%;
	animation: animate 3s linear infinite;
}

.wave6:before,
.wave6:after {
	left: 130%;
	animation: animate 3s linear infinite;
}

.wave7:before,
.wave7:after {
	left: 155%;
	animation: animate 3s linear infinite;
}

.wave8:before,
.wave8:after {
	left: 180%;
	animation: animate 3s linear infinite;
}


.feedback {
	position: absolute;
	bottom: 15vh;
	height: auto;
	width: 80%;
	/*background-color: white;*/
	border:	2px solid white;
	border-radius: 20px;
	margin-left: 10%;
	color: white;
}

.feedback h1 {
	margin: 20px;
	text-align: center;
}

.feedback .btn {
	width: 200px;
	color: white;
	border: 1px solid white;
	margin-bottom: 20px;
}


/*@keyframes animate {
	0% {
		transform: translate(-50%,-75%) rotate(0deg);
	}
	100% {
		transform: translate(-50%,-75%) rotate(360deg);
	}
}*/


/*--------------------------------Desktop------------------------*/

@media only screen and (min-width: 960px){

	#home {
		height: 250vh;
	}

	.rss-mobile {
		display: none;
	}

	.carousel-inner-vid {
		/*max-height: 150px;*/
	}

	.vid-row {
		/*min-height: 200px;*/
	}

}

/*----------------------------Tablet-----------------------------*/


@media only screen and (max-width: 960px) and (min-width: 451px) {

	.load {
		display: none;
	}

	.carousel-inner {
		height: 45vh;
	}

	.rss-mobile {
		display: none;
	}

	.rss-desktop {
		margin-top: 10px;
		display: block;
		height: 23vh;
		min-height: 200px;
		overflow: hidden;
	}

	#carousel-controls2 {
		display: none;
	}

	#carousel-controls1 {
		display: block;
	}

	.carousel-inner {
		height: 40vh;
		width: 98%;
	}

	.main {
		height: auto;
	}

	.test {
		height: 200px;
		width: 300px;
	}

	.subfooter [class*="col-"] {
		min-height: 5vh;
		width: 100%;
		background-color: #0A213A;
		color: white;
	}

	.subleft {
		padding: 0;
	}

	.social-links {
		height: 18vh;
	}

	#mission-content {
		background-color: rgba(22, 21, 23, .4);
		border-radius: 5px;
		height: auto;
	}
	
	#vision-content .container {
		background-color: rgba(249, 249, 249, .4);
		border-radius: 5px;
		height: auto;
	}

	.card {
		height: 25%;
	}

	.gallery img {
		margin: 5px;
		height: 80%;
		z-index: 10;
	}

	#pic1 {
		top: 50%;
		left:5%;
		transform: rotate(-20deg);
	}

	#pic2 {
		top: 20%;
		left: 8%;
		transform: rotate(5deg);
	}

	#pic3 {
		top: 32%;
		left: 30%;
		transform: rotate(-10deg);
	}

	#pic4 {
		top: 20%;
		left:53%;
		transform: rotate(12deg);
	}

	#pic5 {
		top: 50%;
		left: 60%;
		transform: rotate(8deg);
	}

	.feedback {
		position: absolute;
		bottom: 20vh;
		height: auto;
		width: 80%;
		/*background-color: white;*/
		border:	2px solid white;
		border-radius: 20px;
		margin-left: 10%;
		color: white;
	}

}

/*------------------------------Mobile---------------------------*/

@media only screen and (max-width: 450px) {

	.load {
		display: none;
	}

	#navbar .navbar-brand {
		margin: 0;
		width: 80%;
		font-size: 32px;
	}

	.navbar-toggler {
		padding-left: 0;
		padding-right: 0;
	}

	.rss-desktop {
		margin-top: 10px;
		/*display: block;*/
		height: 50vh;
		overflow: hidden;
	}



	#carousel-controls2 {
		display: block;
	}

	#carousel-controls1 {
		display: none;
	}

	.carousel-inner {
		height: 30vh;
		width: 95%;
	}

	.carousel-inner-vid {
		height: 40vh;
	}

	.main {
		height: auto;
	}

	#weather {
		display: none;
	}

	.social-links {
		height: 25vh;
	}

	#mission-content {
		background-color: rgba(22, 21, 23, .4);
		border-radius: 5px;
		height: auto;
	}
	
	#vision-content .container {
		background-color: rgba(249, 249, 249, .4);
		border-radius: 5px;
		height: auto;
	}

	.card {
		height: 23%;
	}

	.gallery img {
		margin: 5px;
		height: 80%;
		z-index: 10;
	}

	.gallery h5 {
		font-size: 10px;
	}

	#pic1 {
		top: 50%;
		left:5%;
		transform: rotate(-20deg);
		z-index: 8;
	}

	#pic2 {
		top: 15%;
		left: 8%;
		transform: rotate(5deg);
		z-index: 11;
	}

	#pic3 {
		top: 32%;
		left: 30%;
		transform: rotate(-10deg);
		z-index: 9;
	}

	#pic4 {
		top: 15%;
		left:50%;
		transform: rotate(12deg);
		z-index: 12;
	}

	#pic5 {
		top: 55%;
		left: 50%;
		transform: rotate(8deg);
		z-index: 8;
	}

}