* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

html {
	scroll-behavior: smooth;
}


.jumbotron hr {
	/*background-color: #fff;*/
}

#jumbo-land {
	padding-top: 5%;
	height: 100vh;
	/*background-color: #333;*/
	border-radius: 0;
	background-image: url(../images/landing-bg.jpg);
	background-size: cover;
}

.btn {
	display: block;
	margin: 0 auto;
	color: black;
	border: 2px solid black;
}

.btn:hover {
	background-color: black;
	color: white;
	border: 2px solid black;
}

.btn a {
	text-decoration: none;
	color: inherit;
}

/*-----------------------------HomePage------------------------------*/

/*[class*="col-"],
.home-bottom,
.footer {
	border: 1px solid black;
}*/

#load {
	width: 100%;
	height: 100vh;
	background-color: rgba(22, 21, 23, .8);
	position: fixed;
	z-index: 5;
}

#loading-gif {
	position: absolute;
	width: 130px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home {
	background-color: #C6C6C6;
}

#navbar .navbar-brand {
	font-family: 'Patua One', cursive;
	font-size: 	40px;
	color: #0E0E1E;
	background-color: white;
	border-radius: 10px;
}

.navbar {
	box-shadow: 0 5px 20px black;
	z-index: 2;
}

.dark-bg {
	background-color: #0E0E1E;
}

.border-radius {
	border-radius: 5px;
}

.logo {
	width: 80px;
	height: 50px;
	position: relative;
	top: -5px;
}

.navbar-nav .active {
	background-color: #E76F51;
	color: inherit;
}

.nav-item {
	min-width: 90px;
	color: black;
}

.main {
	height: 60vh;
}

.blog-link {
	color: white;
}

.home-bottom {
	height: 40vh;
	/*clear: both;*/
}

.footer {
	height: 4vh;
	width: 100%;
	color: white;
}

.surfingwaves {
	text-align: right;
	width: 100%;
}

.surfingwaves2 {
	color: #0A213A;
	font-size: 15px;
}

.carousel-indicators {
	z-index: 1;
}

#carousel-controls1 {
	/*overflow: hidden;*/
}

#carousel-controls2 {
	display: none;
	overflow: hidden;
}

.carousel-inner {
	height: 60vh;
}

.carousel-inner-vid {
	height: auto;
}

.carousel-inner > .carousel-item {
  width: 100%;
  margin: auto;
  min-height:initial;
}

.vid-row img:hover {
	transform: scale(1.4);
	position: relative;
	z-index: 10;
	cursor: pointer;
}

.vid-row {
	height: auto;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: auto;
	border-radius: 0 0 20px 20px; 
}

.rss-desktop > script {
	background-color: blue;
}

.carousel-control-prev,
.carousel-control-next {
  top: 0;
  bottom: 70px;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
	height: 0;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #0E0E1E;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #0E0E1E;
}

.video-btn {
	margin-top: 10px;
}

.brands {
	text-align: center;
}

.brands img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 70%;
}

/*.embed-responsive:active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

iframe {
  /* optional */
  width: 100%;
  height: 100%; 
}

.subfooter {
	position: relative;
}

.subfooter [class*="col-"] {
	min-height: 20vh;
	width: 100%;
	background-color: #0A213A;
	color: white;
}

.social-links {
	font-size: 40px;
}

.social-links i {
	padding: 10px;
	color: white;
}

.fa-facebook:hover {
	color: #3B5998;
}

.fa-twitter:hover {
	color: #1DA1F2;
}

.fa-instagram:hover {
	color: #262626;
}

.fa-youtube:hover {
	color: #ff0000;
}

/*modal*/

.modal-dialog {
  	max-width: 800px;
  	margin: 30px auto;
 }

.modal-body {
 	position:relative;
  	padding:0px;
}
.close {
  	position:absolute;
  	right:-30px;
  	top:0;
  	z-index:999;
  	font-size:2rem;
  	font-weight: normal;
  	color:#fff;
  	opacity:1;
}

/*-------------------------------Blogs---------------------------*/

.blog-img {
	width: 100%;
	height: 60vh;
}

.content-img {
	width: 80%;
	height: 40vh;
	margin: 0 auto;
}

.blog-row {
	height: 90vh;
	overflow: hidden;
}

.blog-col {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid black;
}

@keyframes pointup {
    0%   {left:0px; top:0px;}
    40%  {left:0px; top:-50px;}
    100% {left:0px; top:0px;}
}

#buttoncontainer {
	position: fixed;
	bottom: 20%;
	right: 5%;
	display: none;
}

#back-to-top {
	width: 40px;
	display: block;
	margin: 0 auto;
	position:relative;
	animation-name: pointup;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.show-weather {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration:3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

/*------------------------------Contact--------------------------*/

#message {
	height: 150px;
	resize: none;
}

.google-map {
	height: 50vh;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

/*----------------------------About----------------------------*/

#about .mission {
	height: 94vh;
	background-image: url("../images/about-bg.jpg");
	background-size: cover;
	position: relative;
	background-position: center;
	/*background-attachment: fixed;*/
}

#about .vision {
	height: 95vh;
	background-image: url("../images/about-bg2.jpg");
	background-size: cover;
	position: relative;
	background-position: center;
	/*background-attachment: fixed;*/
}

#about .container-fluid {
	position: relative;
	top: -100px;
}

#about .subfooter {
	position: absolute;
	bottom: -110px;
	margin: 0;
	left: 0;
}

#about #navbar {
	margin-top: 20px;
	height: 75px;
	background-color: transparent;
	box-shadow: none;
}

#mission-content {
	color: white;
	position: absolute;
	bottom: 5%;
}

.about-us {
	background-color: #0E0E1E;
	height: 110vh;
}

.about-us h1 {
	color: white;
}

.about-us img {
	filter: grayscale(100%);
}

.about-us img:hover {
	filter: grayscale(0);
}

.about-us .my-images {
	position: relative;
	top: -20vh;
}



/*--------------------------------Desktop------------------------*/

@media only screen and (min-width: 960px){

	.rss-mobile {
		display: none;
	}

	.carousel-inner-vid {
		/*max-height: 150px;*/
	}

	.vid-row {
		/*min-height: 200px;*/
	}

}

/*----------------------------Tablet-----------------------------*/


@media only screen and (max-width: 960px) and (min-width: 451px) {

	.load {
		display: none;
	}

	.carousel-inner {
		height: 45vh;
	}

	.rss-mobile {
		display: none;
	}

	.rss-desktop {
		margin-top: 10px;
		display: block;
		height: 23vh;
		min-height: 200px;
		overflow: hidden;
	}

	#carousel-controls2 {
		display: none;
	}

	#carousel-controls1 {
		display: block;
	}

	.carousel-inner {
		height: 40vh;
		width: 98%;
	}

	.main {
		height: auto;
	}

	.test {
		height: 200px;
		width: 300px;
	}

	.subfooter [class*="col-"] {
		min-height: 5vh;
		width: 100%;
		background-color: #0A213A;
		color: white;
	}

	.subleft {
		padding: 0;
	}

	.social-links {
		height: 18vh;
	}

	#mission-content {
		background-color: rgba(22, 21, 23, .4);
		border-radius: 5px;
		height: auto;
	}
	
	#vision-content .container {
		background-color: rgba(249, 249, 249, .4);
		border-radius: 5px;
		height: auto;
	}

}

/*------------------------------Mobile---------------------------*/

@media only screen and (max-width: 450px) {

	.load {
		display: none;
	}

	#navbar .navbar-brand {
		margin: 0;
		width: 80%;
		font-size: 32px;
	}

	.navbar-toggler {
		padding-left: 0;
		padding-right: 0;
	}

	.rss-desktop {
		margin-top: 10px;
		/*display: block;*/
		height: 50vh;
	}



	#carousel-controls2 {
		display: block;
	}

	#carousel-controls1 {
		display: none;
	}

	.carousel-inner {
		height: 30vh;
		width: 95%;
	}

	.carousel-inner-vid {
		height: 40vh;
	}

	.main {
		height: auto;
	}

	#weather {
		display: none;
	}

	.social-links {
		height: 25vh;
	}

	#mission-content {
		background-color: rgba(22, 21, 23, .4);
		border-radius: 5px;
		height: auto;
	}
	
	#vision-content .container {
		background-color: rgba(249, 249, 249, .4);
		border-radius: 5px;
		height: auto;
	}

}